
#button{
    color: rgb(255, 255, 255);
    background-color: darkblue;
    font-size: 100px;
    margin-left: 500px;
    margin-top: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

#button:hover{
    color: darkblue;
    background-color: rgb(162, 147, 147);
}

#label-x{
    font-size: 100px;
    margin-left: 850px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#label-y{
    font-size: 100px;
    margin-left: 850px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#label-z{
    font-size: 100px;
    margin-left: 850px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

